.content-wrapper.about {
    height: auto;
    padding: 64px 0;
    .images {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        img {
            width: 350px;
            height: 330px;
            border-radius: 30%;
        }
    }
}