.content-wrapper.about-page {
    margin-top: 40px;
    height: auto;
    .banner {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;

        img {
            width: 100%;
            border-radius: 100px;
        }
    }
    .credits {
        float: right;
        margin: 5px 0;
        margin-right: 100px;
        font-size: smaller;
        a {
            color: #fff;
            text-decoration: none;
            font-style: italic;
        }
    }
    .about-us {
        width: 80%;
        margin: auto;
        height: 20vh;
        padding: 46px 0;
    
        h2 {
            font-size: 40px;
            margin: 0;
        }
        p {
            font-size: larger;
            margin-bottom: 0;
        }
    }
}