.content-wrapper.admin-products {
    height: auto;
}

.btn-title {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    .add-product-btn {
        color: #000;
        text-decoration: none;
        background: rgb(75, 175, 235);
        border-radius: 40px;
        padding: 12px 20px;
        transition: 300ms;

        &:hover {
            transform: translateY(-5px);
        }

        h1 {
            margin: 0;
        }
    }
}