.content-wrapper.admin {

    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-functionalities-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .card {
        .card-body {
            font-size: xx-large;
            font-weight: 600;
        }
    }
    .functionalities {
        .functionality {
            a {
                font-size: xx-large;
                text-decoration: none;
                color: rgb(75, 175, 235);
            }
        }
    }
}