// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

body {
    width: 100%;
    position: relative;
    margin: 0;
    background: rgb(0, 1, 49);
    color: #fff;
}

.content-wrapper {
    margin: auto;
    max-width: 1500px;
    height: 100%;
}

.content {
    position: relative;
    top: 70px;
    width: 100%;
    min-height: calc(100vh - 300px - 70px); // footer and top nav height
}