@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.left-wrapper {
    .logo {
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}


h1 {
    margin: 30px;
    margin-left: 0;
}

.update-cart a, .remove-from-cart a {
    color: white;
}