@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.cart-title {
    padding: 20px 0;

    h1 {
        font-size: 40px;
    }
}

.content-wrapper.cart-page {
    height: auto;
}