.content-wrapper.categories {
    padding: 64px 0;
}

.categories-wrapper {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 25vw;
    height: 30vh;
    background-color: white;
}