.content-wrapper.home {
    height: auto;
    padding: 150px 0;
    display: flex;
    justify-content: center;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .card {
        .card-body {
            font-size: xx-large;
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}