#main-search {
    box-sizing: border-box;
    margin: 0 auto;
    height: 40px;
    width: 468px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 4%;
    color: #fff;
    font-size: small;
    background-color: rgba(196, 175, 175, 0.432) ;
}